<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin2 </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../vendors/feather/feather.css">
  <link rel="stylesheet" href="../../vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../../vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../../vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="../../js/select.dataTables.min.css">
  <!-- inject:css -->
  <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
  <div class=" container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="../../index.html">
            <img src="../../images/logo.svg" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="../../index.html">
            <img src="../../images/logo-mini.svg" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top"> 
        <ul class="navbar-nav">
          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
            <h1 class="welcome-text">Good Morning, <span class="text-black fw-bold">John Doe</span></h1>
            <h3 class="welcome-sub-text">Your performance summary this week </h3>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown d-none d-lg-block">
            <a class="nav-link dropdown-bordered dropdown-toggle dropdown-toggle-split" id="messageDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false"> Select Category </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
              <a class="dropdown-item py-3" >
                <p class="mb-0 font-weight-medium float-left">Select category</p>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">Bootstrap Bundle </p>
                  <p class="fw-light small-text mb-0">This is a Bundle featuring 16 unique dashboards</p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">Angular Bundle</p>
                  <p class="fw-light small-text mb-0">Everything you’ll ever need for your Angular projects</p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">VUE Bundle</p>
                  <p class="fw-light small-text mb-0">Bundle of 6 Premium Vue Admin Dashboard</p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">React Bundle</p>
                  <p class="fw-light small-text mb-0">Bundle of 8 Premium React Admin Dashboard</p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item d-none d-lg-block">
            <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
              <span class="input-group-addon input-group-prepend border-right">
                <span class="icon-calendar input-group-text calendar-icon"></span>
              </span>
              <input type="text" class="form-control">
            </div>
          </li>
          <li class="nav-item">
            <form class="search-form" action="#">
              <i class="icon-search"></i>
              <input type="search" class="form-control" placeholder="Search Here" title="Search here">
            </form>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
              <i class="icon-mail icon-lg"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
              <a class="dropdown-item py-3 border-bottom">
                <p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>
                <span class="badge badge-pill badge-primary float-right">View all</span>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-alert m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject fw-normal text-dark mb-1">Application Error</h6>
                  <p class="fw-light small-text mb-0"> Just now </p>
                </div>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-settings m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject fw-normal text-dark mb-1">Settings</h6>
                  <p class="fw-light small-text mb-0"> Private message </p>
                </div>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-airballoon m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject fw-normal text-dark mb-1">New user registration</h6>
                  <p class="fw-light small-text mb-0"> 2 days ago </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown"> 
            <a class="nav-link count-indicator" id="countDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="icon-bell"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="countDropdown">
              <a class="dropdown-item py-3">
                <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
                <span class="badge badge-pill badge-primary float-right">View all</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="../../images/faces/face10.jpg" alt="image" class="img-sm profile-pic">
                </div>
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                  <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="../../images/faces/face12.jpg" alt="image" class="img-sm profile-pic">
                </div>
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                  <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="../../images/faces/face1.jpg" alt="image" class="img-sm profile-pic">
                </div>
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                  <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown d-none d-lg-block user-dropdown">
            <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="img-xs rounded-circle" src="../../images/faces/face8.jpg" alt="Profile image"> </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <div class="dropdown-header text-center">
                <img class="img-md rounded-circle" src="../../images/faces/face8.jpg" alt="Profile image">
                <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>
                <p class="fw-light text-muted mb-0">allenmoreno@gmail.com</p>
              </div>
              <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
              <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>
              <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> Activity</a>
              <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i> FAQ</a>
              <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border me-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border me-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-bs-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-bs-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
              </ul>
            </div>
            <h4 class="px-3 text-muted mt-5 fw-light mb-0">Events</h4>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary me-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
              <p class="text-gray mb-0">The total number of sessions</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary me-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 fw-normal">See All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="../../images/faces/face1.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="../../images/faces/face2.jpg" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="../../images/faces/face3.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="../../images/faces/face4.jpg" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="../../images/faces/face5.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="../../images/faces/face6.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="../../index.html">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item nav-category">UI Elements</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">UI Elements</span>
              <i class="menu-arrow"></i> 
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/buttons.html">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/dropdowns.html">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/typography.html">Typography</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">Forms and Datas</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">Form elements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="../../pages/forms/basic_elements.html">Basic Elements</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="menu-icon mdi mdi-chart-line"></i>
              <span class="menu-title">Charts</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../pages/charts/chartjs.html">ChartJs</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
              <i class="menu-icon mdi mdi-table"></i>
              <span class="menu-title">Tables</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../pages/tables/basic-table.html">Basic table</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
              <i class="menu-icon mdi mdi-layers-outline"></i>
              <span class="menu-title">Icons</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../pages/icons/mdi.html">Mdi icons</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">pages</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon mdi mdi-account-circle-outline"></i>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../pages/samples/login.html"> Login </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">help</li>
          <li class="nav-item">
            <a class="nav-link" href="http://bootstrapdash.com/demo/star-admin2-free/docs/documentation.html">
              <i class="menu-icon mdi mdi-file-document"></i>
              <span class="menu-title">Documentation</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="row icons-list">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-access-point"></i> mdi mdi-access-point
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-access-point-network"></i> mdi mdi-access-point-network
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account"></i> mdi mdi-account
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-box"></i> mdi mdi-account-box
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-box-outline"></i> mdi mdi-account-box-outline
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-card-details"></i> mdi mdi-account-card-details
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-check"></i> mdi mdi-account-check
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-circle"></i> mdi mdi-account-circle
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-convert"></i> mdi mdi-account-convert
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-key"></i> mdi mdi-account-key
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-minus"></i> mdi mdi-account-minus
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-multiple"></i> mdi mdi-account-multiple
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-multiple-minus"></i> mdi mdi-account-multiple-minus
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-multiple-outline"></i> mdi mdi-account-multiple-outline
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-multiple-plus"></i> mdi mdi-account-multiple-plus
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-network"></i> mdi mdi-account-network
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-off"></i> mdi mdi-account-off
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-outline"></i> mdi mdi-account-outline
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-plus"></i> mdi mdi-account-plus
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-remove"></i> mdi mdi-account-remove
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-search"></i> mdi mdi-account-search
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-settings"></i> mdi mdi-account-settings
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-star"></i> mdi mdi-account-star
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-switch"></i> mdi mdi-account-switch
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-adjust"></i> mdi mdi-adjust
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-air-conditioner"></i> mdi mdi-air-conditioner
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-airballoon"></i> mdi mdi-airballoon
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-airplane"></i> mdi mdi-airplane
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-airplane-landing"></i> mdi mdi-airplane-landing
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-airplane-off"></i> mdi mdi-airplane-off
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-airplane-takeoff"></i> mdi mdi-airplane-takeoff
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-airplay"></i> mdi mdi-airplay
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alarm"></i> mdi mdi-alarm
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alarm-check"></i> mdi mdi-alarm-check
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alarm-multiple"></i> mdi mdi-alarm-multiple
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alarm-off"></i> mdi mdi-alarm-off
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alarm-plus"></i> mdi mdi-alarm-plus
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-album"></i> mdi mdi-albums
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alert"></i> mdi mdi-alert
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alert-box"></i> mdi mdi-alert-box
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alert-circle"></i> mdi mdi-alert-circle
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alert-circle-outline"></i> mdi mdi-alert-circle-outline
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alert-octagon"></i> mdi mdi-alert-octagon
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alert-outline"></i> mdi mdi-alert-outline
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alpha"></i> mdi mdi-alpha
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alphabetical"></i> mdi mdi-alphabetical
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-altimeter"></i> mdi mdi-altimeter
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-amazon"></i> mdi mdi-amazon
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-ambulance"></i> mdi mdi-ambulance
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-amplifier"></i> mdi mdi-amplifier
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-anchor"></i> mdi mdi-anchor
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-android"></i> mdi mdi-android
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-android-debug-bridge"></i> mdi mdi-android-debug-bridge
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-android-studio"></i> mdi mdi-android-studio
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-animation"></i> mdi mdi-animation
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple"></i> mdi mdi-apple
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-finder"></i> mdi mdi-apple-finder
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-ios"></i> mdi mdi-apple-ios
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-keyboard-caps"></i> mdi mdi-apple-keyboard-caps
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-keyboard-command"></i> mdi mdi-apple-keyboard-command
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-keyboard-control"></i> mdi mdi-apple-keyboard-control
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-keyboard-option"></i> mdi mdi-apple-keyboard-option
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-keyboard-shift"></i> mdi mdi-apple-keyboard-shift
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-safari"></i> mdi mdi-apple-safari
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-application"></i> mdi mdi-application
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apps"></i> mdi mdi-apps
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-archive"></i> mdi mdi-archive
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrange-bring-forward"></i> mdi mdi-arrange-bring-forward
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrange-bring-to-front"></i> mdi mdi-arrange-bring-to-front
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrange-send-backward"></i> mdi mdi-arrange-send-backward
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrange-send-to-back"></i> mdi mdi-arrange-send-to-back
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-all"></i> mdi mdi-arrow-all
                    </div>
                    
                   
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
    </div>

  </div>
  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <script src="../../vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
